a {
    text-decoration: none;
}

header {
    background-image: url(./HERO.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    text-transform: uppercase;
}

.topbar {
    height: 10%;
}

.topbar>ul>li>a,
.topbar>a {
    color: white
}

.topbar>ul>li {
    list-style-type: none;
}

.bleu {
    color: #0ECCEE;
}

.hero {
    height: 90%;
}