@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

p {
    font-weight: 300;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #6E401D;
    height: 10vh;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.25rem;
    color: white;
}

.button {
    border: 1px black solid;
    border-radius: 10px;
    padding: 5px 20px;
    background-color: transparent;
    transition: 1s ease;
}

.button:hover {
    background-color: black;
    color: rgb(184, 154, 98);
    transition: 1s ease;
}

header {
    height: 90vh;
    background-image: url("bisous.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catchphrase {
    font-weight: bolder;
    font-size: 4rem;
    color: white;
    background: radial-gradient(rgb(184, 154, 98), transparent 20%);
    border-radius: 20%;
    padding: 20px 20px;
    width: 60vw;
    text-align: center;
}